<div class="homework">
    <textarea rows="10" [(ngModel)]="content"></textarea>
    <button type="submit" (click)="parseTemplate()">Parse Template</button>

    <div class="value-input-wrap">
        <app-value-input *ngFor="let tag of foundTags; let i = index"
                         [label]="tag.fieldName"
                         [(inputModel)]="foundTags[i].value"></app-value-input>
    </div>

    <button type="submit" (click)="displayResult()">Display result</button>

    <div class="result">
        <ul class="result-tag-list">
            <li *ngFor="let resultTag of results">
                {{resultTag}}
            </li>
        </ul>
    </div>
    <a href="javascript:void(0);" [routerLink]="['./task2']">Task2</a>
</div>




