html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.homework  {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  textarea {
    width: 80%;
  }
}
